<!-- HTML -->
@if(isLogged |async) {
<div class="is-flex is-flex-wrap-wrap is-justify-content-space-between">
    <div class="button-container">
        <button class="button" (click)="addToList('playLater')" [ngClass]="{'is-primary': list === 'playLater'}"
            [disabled]="list === 'playLater'">
            <span class="icon is-small">
                <fa-icon [icon]="faClock" />
            </span>
            <span>Play Later</span>
        </button>
    </div>
    <div class="button-container">
        <button class="button" (click)="addToList('playing')" [ngClass]="{'is-primary': list === 'playing'}"
            [disabled]="list === 'playing'">
            <span class="icon is-small">
                <fa-icon [icon]="faGamepad" />
            </span>
            <span>Playing</span>
        </button>
    </div>
    <div class="button-container">
        <button class="button" (click)="addToList('completed')" [ngClass]="{'is-primary': list === 'completed'}"
            [disabled]="list === 'completed'">
            <span class="icon is-small">
                <fa-icon [icon]="faCheck" />
            </span>
            <span>Completed</span>
        </button>
    </div>
    <div class="button-container">
        <button class="button" (click)="addToList('played')" [ngClass]="{'is-primary': list === 'played'}"
            [disabled]="list === 'played'">
            <span class="icon is-small">
                <fa-icon [icon]="faX" />
            </span>
            <span>Played</span>
        </button>
    </div>
</div>
}