<div class="card-container">
  <mat-card class="game-card">
    <div class="content-wrapper">
      <img src="https://www.freetogame.com/g/540/thumbnail.jpg" alt="Overwatch 2" class="game-image">
      <div class="text-content">
        <mat-card-title>Overwatch 2</mat-card-title>
        <mat-card-subtitle>Shooter | PC (Windows)</mat-card-subtitle>
      </div>
    </div>
    <mat-card-content>
      <p class="description">
        A hero-focused first-person team shooter from Blizzard Entertainment.
      </p>
      <p><strong>Editora:</strong> Activision Blizzard</p>
      <p><strong>Desenvolvedora:</strong> Blizzard Entertainment</p>
      <p><strong>Data de Lançamento:</strong> 2022-10-04</p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://www.freetogame.com/open/overwatch-2" target="_blank" mat-button>Jogar</a>
      <a href="https://www.freetogame.com/overwatch-2" target="_blank" mat-button>Mais Info</a>
    </mat-card-actions>
  </mat-card>
</div>
