<mat-card class="game-card">
  <div class="content-wrapper">
    <img [src]="game.thumbnail" [alt]="game.title" class="game-image">
    <div class="text-content">
      <mat-card-title>{{game.title}}</mat-card-title>
      <mat-card-subtitle>{{game.genre}} | {{game.platform}}</mat-card-subtitle>
    </div>
  </div>
  <mat-card-content>
    <p class="description">{{game.short_description}}</p>
    <p><strong>Publisher: </strong>{{game.publisher}}</p>
    <p><strong>Developer: </strong>{{game.developer}}</p>
    <p><strong>Release Date: </strong>{{game.release_date}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-wrapper">
    <div class="links">
      <a [href]="game.game_url" target="_blank" class="external-link">Oficial Page</a>
      <a [href]="game.freetogame_profile_url" target="_blank" class="external-link">
        FreeToGame
      </a>
      <a [routerLink]="['game', game.id]" class="external-link">Details</a>
    </div>
    <div class="actions">
      <ng-content />
    </div>
    <ng-content />
  </mat-card-actions>
</mat-card>