<div class="error-container">
  <mat-card class="error-card">
    <mat-card-content>
        <div class="error-content">
          <img
          src="donkey-kong-dk-rap.gif"
          alt="Donkey Kong"
          class="character"
        />
        <h1 class="error-code">404</h1>
        <p>Oops! Parece que a página que você está procurando não existe.</p>
        <a mat-button routerLink="/" class="goBack">Voltar para a Página Inicial</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
