<div>
  @if (game) {
    <mat-card class="game-card">
      <!-- Title -->
      <mat-card-header>
        <mat-card-title>{{ game.title }}</mat-card-title>
      </mat-card-header>

      <!-- Thumbnail -->
      <img mat-card-image [src]="game.thumbnail" [alt]="game.title" />

      <!-- Card Content -->
      <mat-card-content>
        <p><strong>Status:</strong> {{ game.status }}</p>
        <p><strong>Short Description:</strong> {{ game.short_description }}</p>
        <p><strong>Release Date:</strong> {{ game.release_date }}</p>
        <p><strong>Genre:</strong> {{ game.genre }}</p>
        <p><strong>Platform:</strong> {{ game.platform }}</p>
        <p><strong>Publisher:</strong> {{ game.publisher }}</p>
        <p><strong>Developer:</strong> {{ game.developer }}</p>

        <!-- Minimum System Requirements -->
        <p><strong>Minimum System Requirements:</strong></p>
        <ul>
          @if (game.minimum_system_requirements) {
            <li><strong>OS:</strong> {{ game.minimum_system_requirements.os }}</li>
            <li><strong>Processor:</strong> {{ game.minimum_system_requirements.processor }}</li>
            <li><strong>Memory:</strong> {{ game.minimum_system_requirements.memory }}</li>
            <li><strong>Graphics:</strong> {{ game.minimum_system_requirements.graphics }}</li>
            <li><strong>Storage:</strong> {{ game.minimum_system_requirements.storage }}</li>
          }
        </ul>

        <!-- Description -->
        <p><strong>Description:</strong></p>
        <p>{{ game.description }}</p>

        <!-- Game URL -->
        <p><strong>Game URL:</strong> <a [href]="game.game_url" target="_blank">{{ game.game_url }}</a></p>
      </mat-card-content>

      <!-- Screenshots -->
      <mat-card-content>
        <h3>Screenshots:</h3>
        <div class="screenshot-container">
          @for (screenshot of game.screenshots; track screenshot.id) {
            <img
              [src]="screenshot.image"
              [alt]="'Screenshot ' + screenshot.id"
              class="screenshot-image"
            />
          }
        </div>
      </mat-card-content>
    </mat-card>
  }
</div>
