<div class="container">
    @if (game) {
    <div class="card">
        <!-- Title at the Top -->
        <header class="card-header">
            <p class="card-header-title">{{ game.title }}</p>
        </header>
        <div class="px-5">
            <app-game-user-actions [game]="game" />
        </div>

        <!-- Card Content and System Requirements Side by Side -->
        <div class="card-content">
            <div class="columns is-multiline">
                <!-- Card Content -->
                <div class="column is-half-mobile is-half-tablet is-half-desktop">
                    <div class="content">
                        <p><strong>Status:</strong> {{ game.status }}</p>
                        <p><strong>Short Description:</strong> {{ game.short_description }}</p>
                        <p><strong>Release Date:</strong> {{ game.release_date }}</p>
                        <p><strong>Genre:</strong> {{ game.genre }}</p>
                        <p><strong>Platform:</strong> {{ game.platform }}</p>
                        <p><strong>Publisher:</strong> {{ game.publisher }}</p>
                        <p><strong>Developer:</strong> {{ game.developer }}</p>
                    </div>
                </div>

                <!-- Minimum System Requirements -->
                <div class="column is-half-mobile is-half-tablet is-half-desktop">
                    <div class="block">
                        <p class="subtitle">Minimum System Requirements:</p>
                        @if (game.minimum_system_requirements) {
                        <ul>
                            <li><strong>OS:</strong> {{ game.minimum_system_requirements.os }}</li>
                            <li><strong>Processor:</strong> {{ game.minimum_system_requirements.processor }}</li>
                            <li><strong>Memory:</strong> {{ game.minimum_system_requirements.memory }}</li>
                            <li><strong>Graphics:</strong> {{ game.minimum_system_requirements.graphics }}</li>
                            <li><strong>Storage:</strong> {{ game.minimum_system_requirements.storage }}</li>
                        </ul>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- Description Below -->
        <div class="card-content">
            <div class="block">
                <p class="subtitle">Description:</p>
                <p>{{ game.description }}</p>
            </div>
        </div>

        <!-- Game URL -->
        <div class="card-content">
            <p><strong>Game URL:</strong> <a [href]="game.game_url" target="_blank">{{ game.game_url}}</a></p>
        </div>


        @for (screenshot of game.screenshots; track screenshot.id) {
        <div class="image-item">
            <figure class="image is-16by9">
                <img [src]="screenshot.image" [alt]="'Screenshot '+ game.title + screenshot.id" />
            </figure>
        </div>
        }
    </div>
    }
</div>