<form
  [formGroup]="registerForm"
  (ngSubmit)="submitDetails()"
  class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="username"
      type="text"
      formControlName="name"
      class="w-full"
      name="name"
    />
  </mat-form-field>
  @if (name.invalid && (name.dirty || name.touched)) {
    <small>
      @if (name.errors?.['required']) {
        <div>Name is required</div>
      }
    </small>
  }
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="username@email.com"
      type="text"
      formControlName="email"
      class="w-full"
      name="email"
    />
  </mat-form-field>
  @if (email.invalid && (email.dirty || email.touched)) {
    <small>
      @if (email.errors?.['required']) {
        <div>Email is required</div>
      }
      @if (email.errors?.['email']) {
        <div>Email should be valid.</div>
      }
    </small>
  }
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="password"
      type="password"
      formControlName="password"
      class="w-full"
      name="password"
    />
  </mat-form-field>
  @if (password.invalid && (password.dirty || password.touched)) {
    <small>
      @if (password.errors?.['required']) {
        <div>Password is required</div>
      }
    </small>
  }
  <mat-form-field class="example-full-width">
    <mat-label>Password Confirm</mat-label>
    <input
      matInput
      placeholder="confirm your password"
      type="password"
      formControlName="confirmPassword"
      class="w-full"
      name="confirmPassword"
    />
  </mat-form-field>
  @if (confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)) {
    <small>
      @if (registerForm.errors?.['required']) {
        <div>Confirm the password</div>
      }
    </small>
    <small>
      @if (registerForm.errors?.['passwordMismatch'] &&
      confirmPassword.valid && password.valid) {
        <div>Password should match</div>
      }
    </small>
  }
  <button
    [disabled]="registerForm.invalid"
    type="submit"
  >Register</button>
</form>
