.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.avatar-container {
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  width: fit-content;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  height: 150px;
  width: 150px;
  z-index: 1;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  box-shadow: 0 5px 10px 10px #474d5e;
}

.icon-wrapper {
  position: absolute;
  height: 20px;
  width: 20px;
  padding: .35rem;
  background-color: #474D5E;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 75%;
  z-index: 2;
  cursor: pointer;

  &:hover {
    transition: all .25s;
    background-color: darken(#2962FF, 15%);
  }

  .icon {
    color: white;
  }

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type='file'] {
    display: none;
  }
}

.box-shadow-avatar {
  box-shadow: 0 5px 5px 5px #474D5E;
}

.image-container.avatar-placeholder {
  background-image: url('https://toppng.com/uploads/preview/roger-berry-avatar-placeholder-11562991561rbrfzlng6h.png');
}

.edit-input .mat-form-field-flex {
  background-color: #474d5e;
}

.edit-input input {
  color: #ffffff;
}

.edit-input mat-label, .edit-input mat-hint, .edit-input .mat-error {
  color: #ccc;
}

