<div class="box my-4">
    <article class="media">
        <div class="media-left">
            <figure class="image is-128x128">
                <img [src]="game.thumbnail" [alt]="game.title" />
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p class="title is-4">{{game.title}}</p>
                <p class="subtitle is-6">{{game.genre}} | {{game.platform}}</p>
                <p><strong>Publisher: </strong>{{game.publisher}}</p>
                <p><strong>Developer: </strong>{{game.developer}}</p>
                <p><strong>Release Date: </strong>{{game.release_date}}</p>
                <p>{{game.short_description}}</p>
                <a [href]="game.game_url" target="_blank" class="button is-small is-link mr-2">Official Page</a>
                <a [href]="game.freetogame_profile_url" target="_blank"
                    class=" button is-small is-link mr-2">FreeToGame</a>
                <a [routerLink]="['game', game.id]" class="button is-small is-info">Details</a>
            </div>
            <app-game-user-actions [game]="game"></app-game-user-actions>

        </div>
    </article>
</div>