<mat-toolbar style="background-color: #474D5E; color: white; width: 100%; display: flex; justify-content: space-between; align-items: center;">
  <div style="display: flex; align-items: center;">
    <button mat-icon-button [routerLink]="['/home']" aria-label="Home icon-button">
      <img src="logo_nav.png" alt="Logo">
    </button>
    <span class="app-name" [routerLink]="['/home']" style="margin-left: 10px;">MaxClip</span>
  </div>

  <div style="display: flex; align-items: center; justify-content: center; flex-grow: 1;">
    <button mat-icon-button (click)="toggleSearch()" aria-label="Toggle search" style="color: #f0f0f0; background-color: #474D5E;">
      <mat-icon>search</mat-icon>
    </button>
    <input *ngIf="showSearch" type="text" placeholder="Buscar jogos..." [(ngModel)]="searchQuery"
           style="width: 50%; padding: 10px 20px; margin-left: 20px; border-radius: 4px; border: none; color: #f0f0f0; background-color: #333840;">
  </div>

  <div style="display: flex; align-items: center;">
    <button mat-button [matMenuTriggerFor]="gamesMenu" aria-label="Game lists menu" style="color: #f0f0f0; background-color: #474D5E;">
      <mat-icon>list</mat-icon>
      Listas de Jogos
    </button>
    <mat-menu #gamesMenu="matMenu" class="custom-menu">
      <button mat-menu-item class="custom-menu-item">Jogar mais tarde</button>
      <button mat-menu-item class="custom-menu-item">A jogar atualmente</button>
      <button mat-menu-item class="custom-menu-item">Jogado</button>
      <button mat-menu-item class="custom-menu-item">Concluído</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User profile" style="color: #f0f0f0; background-color: #474D5E;">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu" class="custom-menu">
      <button mat-menu-item class="custom-menu-item">Ver Perfil</button>
      <button mat-menu-item class="custom-menu-item">Configurações</button>
      <button mat-menu-item class="custom-menu-item">Logout</button>
    </mat-menu>

    <button mat-icon-button aria-label="Settings">
      <mat-icon>settings</mat-icon>
    </button>

    <button mat-icon-button (click)="logout()" aria-label="Logout">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>



