<mat-toolbar class="navbar-toolbar">
  <div class="logo-container">
    <button mat-icon-button [routerLink]="['/']" aria-label="Home icon-button">
      <img src="logo_nav.png" alt="Logo">
    </button>
    <span class="app-name" [routerLink]="['/']">MaxClip</span>
  </div>

  <div class="search-container">
    <button mat-icon-button (click)="toggleSearch()" aria-label="Toggle search" class="search-button">
      <mat-icon>search</mat-icon>
    </button>
    <input *ngIf="showSearch" type="text" placeholder="Search games..." [(ngModel)]="searchQuery" class="search-input">
  </div>

  <div class="actions-container">
    <button mat-button [matMenuTriggerFor]="gamesMenu" aria-label="Game lists menu" class="menu-button">
      <mat-icon>list</mat-icon>
      Game Lists
    </button>
    <mat-menu #gamesMenu="matMenu" class="custom-menu">
      <button mat-menu-item class="custom-menu-item">Play Later</button>
      <button mat-menu-item class="custom-menu-item">Currently Playing</button>
      <button mat-menu-item class="custom-menu-item">Played</button>
      <button mat-menu-item class="custom-menu-item">Completed</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User profile" class="menu-button">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu" class="custom-menu">
      <button mat-menu-item class="custom-menu-item">View Profile</button>
      <button mat-menu-item class="custom-menu-item">Settings</button>
      <button mat-menu-item class="custom-menu-item">Logout</button>
    </mat-menu>

    <button mat-icon-button aria-label="Settings" class="menu-button">
      <mat-icon>settings</mat-icon>
    </button>

    <button mat-icon-button (click)="logout()" aria-label="Logout" class="menu-button">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>