<mat-toolbar style="background-color: #474D5E; color: white; width: 100%; display: flex; justify-content: space-between; align-items: center;">
  <div style="display: flex; align-items: center;">
    <button mat-icon-button [routerLink]="['/home']" aria-label="Home icon-button">
      <img src="assets/logo_maior.png" alt="Logo">
    </button>
    <!-- Adicionando uma margem à esquerda ao nome do app -->
    <span class="app-name" [routerLink]="['/home']" style="margin-left: 10px;">MaxClip</span>
  </div>

  <div style="display: flex; align-items: center; justify-content: center; flex-grow: 1;">
    <button mat-icon-button (click)="toggleSearch()" aria-label="Toggle search">
      <mat-icon>search</mat-icon>
    </button>
    <form class="example-form-search">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search" value="">
      </mat-form-field>
    </form>
    <input *ngIf="showSearch" type="text" placeholder="Buscar jogos..." [(ngModel)]="searchQuery" style="margin: 0 20px;">
  </div>


  <div style="display: flex; align-items: center;">
    <button mat-button [matMenuTriggerFor]="gamesMenu" aria-label="Game lists menu" style="color: #ffffff; background-color: #474D5E;">
      <mat-icon>list</mat-icon>
      Listas de Jogos
    </button>
    <mat-menu #gamesMenu="matMenu" class="custom-menu">
      <button mat-menu-item class="custom-menu-item">Jogar mais tarde</button>
      <button mat-menu-item class="custom-menu-item">A jogar atualmente</button>
      <button mat-menu-item class="custom-menu-item">Jogado</button>
      <button mat-menu-item class="custom-menu-item">Concluído</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="User profile" style="color: #ffffff; background-color: #474D5E;">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu" class="custom-menu">
      <button mat-menu-item class="custom-menu-item">Ver Perfil</button>
      <button mat-menu-item class="custom-menu-item">Configurações</button>
      <button mat-menu-item class="custom-menu-item">Logout</button>
    </mat-menu>

    <button mat-icon-button aria-label="Settings">
      <mat-icon>settings</mat-icon>
    </button>

    <button mat-icon-button (click)="logout()" aria-label="Logout">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>



