.example-spacer {
    flex: 1 1 auto;
}

.custom-menu {
  background-color: #1E1E1E; /* Cor de fundo dos menus */
  color: #ffffff;
  display: block;
  padding: 5px 0;
}

.custom-menu-item {
  display: block;
  width: 100%;
  color: #f0f0f0; /* Cor da letra dos itens */
  background-color: #474D5E; /* Cor de fundo dos itens */
  padding: 10px 10px;
  text-align: left;
}

.custom-menu-item:hover {
  background-color: #f0f0f0; /* Cor de fundo dos itens ao passar o mouse */
  color: #474D5E; /* Cor da letra dos itens ao passar o mouse */
}
